.oc-collapsible {
  border: 4px solid #eee;
  color: var(--text-color);
}

.oc-collapsible__header {
  padding: 6px;
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.oc-collapsible__children {
  display: flex;
}

.oc-collapsible__children-container {
  position: relative;
  overflow: hidden;
}

.oc-collapsible__header-title-container {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 12px;
}

.oc-collapsible__header-title-text {
  margin: 0;
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
}
