.oc-dashboard {

}

.oc-dashboard__widget.react-draggable-dragging {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

.oc-dashboard .react-grid-item.react-grid-placeholder {
  opacity: 0.5;
  background: #FECA1D;
  background: var(--brand-color);
}

.oc-dashboard .react-grid-item > .react-resizable-handle {
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: #aaa;
  background: none;
}
